@charset "UFT-8";

@media screen and (min-width: 400px) and (max-width: 940px) {
    body{
        width: 100%;
        background-color: brown;
    }

    header .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: blue;
    }

    header .container nav{
        display: flex;
        flex-direction: column;
    }

    main .me .container{
        display: flex;
        flex-direction: column;
    }
}