@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --cor1: #89F0BE;
    --cor2: #279761;
    --cor3: rgba(41, 41, 173, 0.829);
    --font-destaque: 'Montserrat', sans-serif;
    --font-texto: 'Roboto Slab', serif;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html{
    background-image: linear-gradient(68.15deg, var(--cor1) 15%, var(--cor2));
    background-size: cover;
    /* background-repeat: no-repeat; */
}
/*>>> HEADER <<<*/
header{
    width: 82vw;
    background-color: rgba(255, 255, 255, 0.863);
    margin: 10px auto;
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
} 

header .container{
    display: flex;
    padding: 10px 0px 10px 10px;
}

/* NAME TITTLE */ 
header .container H1{
    font-family: var(--font-destaque);

}

/* NAV LINKS */ 
header .container .nav-container{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    flex-grow: 1;
}

header .nav-container a{
    text-decoration: none;
    color: black;
    font-size: 0.9em;
    margin: 0 9px;
    font-family: var(--font-destaque);

    &::after{
        content: "";
        background-color: rgb(62, 3, 199);
        height: 2px;
        display: block;
        width: 0%;
        margin: 0 auto;
        transition: .4s;
    }

    &:hover::after{
        width: 100%;
    }
    
    &:hover{
        color: rgb(219, 87, 39);
        font-weight: 600;
    }
}
/*>>> MAIN START <<<*/
main{
    background-color: rgba(255, 255, 255, 0.863);
    width: 82vw;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 0 0 5px 5px;
}

main .container{
    display: flex;
}

main .container img{
    border-radius: 50%;
    margin: 20px;
}

main .intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    font-family: var(--font-destaque);
    font-weight: 400;
}

main h2{
    margin-bottom: 5px;
    font-weight: 700;
    transform: translateX(15px);
}

main p{
    padding: 18px;
    text-align: justify;
}

main p strong{
    font-weight: 600;
}


/* NAV LINKS */
main ul{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 100%;
    padding-bottom: 15px;
}

main ul a{
    margin-bottom: 10px;
    padding: 12px 25px;
    border: 1px solid rgba(41, 41, 173, 0.900);
    box-shadow: 0px 0px 2px rgba(41, 41, 173, 0.459);
    border-radius: 8px;
    font-family: var(--font-destaque);
    font-weight: 700;
    color: rgb(75, 74, 74);
    font-size: 1.1em;
}

main ul a i{
    margin-right: 7px;
}

/*  BUTTONS HOVER  */
main  ul #curriculo:hover{
    background-color: rgb(143, 0, 199);
    color: white;
    transform: translate(-2px, -5px);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.747);
    border: 1px solid black;
}

main  ul #github:hover{
    background-image: linear-gradient(to bottom, #3f3f3f 10%,#2c2c2c);
    color: white;
    transform: translate(-2px, -5px);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.747);
    border: 1px solid black;
}

main  ul #lkdin:hover{
    background-color: #0A66C2;
    color: white;
    transform: translate(-2px, -5px);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.904);
    border: 1px solid black;
}

/* LINE */
main .line{
    height: 2px;
    background-color: rgb(88, 3, 105);
    border-radius: 15px;
    width: 90%;
    margin: 70px auto 30px auto;
}

/* SECTION PROJECTS */
main .project{
    display: flex;
    margin: 0 0 20px 20px;
    font-family: var(--font-destaque);
}

main .project h1{
    font-weight: 700;
    margin: 0 15px 20px 0;

    &::after{
        content: "";
        height: 5px;
        background-color: rgb(129, 3, 129);
        display: block;
        width: 61%;
        border-radius: 20px;
    }
}

/* RIGHT SIDES PROJECTS */
main .right{
    display: flex;
}

main .right-text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 5px;
    margin: 2px;
    max-width: 70%;
}

main .right-text p{
    text-align: right;
}

main .right-text h2{
    transform: translateX(-30px);
}

main .right-text a{
    transform: translateX(-15px);
}
main .right-image{
    padding: 5px;
    margin: 5px;
}
/* FOOTER START*/
footer{
    margin: 15px;
}
